/* .dark-mode {
    --my-background-color: #0000ff;
}

.light-mode {
    --my-background-color: #ff0000;
}
body {
    background-color: var(--my-background-color);
}
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    padding-top: 150px;
    width: 100%;
    height: 700px;
    background: linear-gradient(#bf80ff, #1a0033 70%);
}

.gradient-button {
    position: relative;
    width: 100%;
    height: 35px;
}

.gradient-button img {
    height: 32px;
    position: absolute;
    left: 50%;
    top: 73%;
    transition: top 200ms linear;
}

.gradient-button img:hover {
    height: 32px;
    position: absolute;
    left: 50%;
    top: 100%;
}

#opcje {
    color: white;
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: background 300ms linear;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #751aff;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.banner {
    background-color: transparent;
    height: 100px;
    width: 100%;
    position: fixed;
    transition: background-color 200ms linear;
}


ol {
    display: flex;
    list-style-type: none;
    text-align: center;
}

ul {
    position: absolute;
}

ol li {
    width: 150px;
}

ul li {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    width: 150px;
    transition: 200ms linear;
}

ul li:hover {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    width: 200px;
}

.scrolled ul li {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    width: 150px;
}

.scrolled ul li:hover {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    width: 200px;
}

ol li ul {
    display: none;
    list-style-type: none;
}

ol li:hover ul {
    display: block;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    width: 100%;
    position: fixed;
    transition: background-color 200ms linear;
}


.scrolled > .banner-menu a:hover {
    color: rgba(29, 185, 84);
}

.banner-logo {
    float: left;
    width: 40%;
}

.banner-logo img {
    height: 70px;
    padding: 15px 0 15px 25%;
}

.banner-menu {
    width: 55%;
    float: right;
    font-size: 15px;
}

.banner-menu a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    line-height: 100px;
}

.banner-menu a:hover {
    color: blue;
}

.gradient-content {
    color: white;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.gradient-content h1 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1px;
    padding-bottom: 20px;
}

.gradient-content p {
    font-weight: 700;
    word-spacing: -1px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.gradient-content-text button {
    margin-top: 20px;
    margin-left: 0px;
    background: rgba(29, 185, 84);
    color: white;
    padding: 10px 100px;
    border: 1px solid rgba(29, 185, 84);
    border-radius: 100px;
    font-weight: 700;
    font-size: 13px;
}

.gradient-content-text button:hover {
    cursor: pointer;
}

.gradient-content-text {
    width: 25%;
    margin-top: 60px;
    float: left;
    margin-right: 50px;
    padding-left: 10%;
}

.gradient-content-pic {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.gradient-content-pic-st,
.gradient-content-pic-nd {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gradient-content-pic img {
    height: 237.33px;
    width: 236px;
    object-fit: cover;
    margin: 8px;
    display: block;
    float: left;
    box-shadow: 5px 5px 30px -5px #000;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

.gradient-content-pic img:hover {
    opacity: 0.4;
    background-color: black;
}

.white {
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
    height: 400px;
    position: relative;
}

.white-gallery a,
.white-contact a,
.white-documents a {
    display: block;
    color: rgba(29, 185, 84);
    font-weight: 700;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 0px;
    position: absolute;
    bottom: 0;
}

.white p {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 16px;
}

.white h1 {
    font-weight: 700;
    font-size: 45px;
}

.white h3 {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 25px;
}

.white-gallery,
.white-contact,
.white-documents {
    padding-top: 45px;
    float: left;
    width: 33%;
    height: 200px;
    position: relative;
}

.footer {
    background-color: black;
    height: 540px;
    position: relative;
}

.footer-links {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

.footer-links p {
    font-weight: 900;
    font-size: 12px;
    color: #919496;
    letter-spacing: 1px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.footer-links-content-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 50px;
}

.footer-links-content-middle,
.footer-links-content-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-links-content {
    display: flex;
    width: 70%;
    margin-left: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 auto;
}

.footer-links-content a {
    padding: 10px 0;
}

.footer-links-content p {
    padding-bottom: 15px;
}

.footer-links-content a:hover {
    color: rgba(29, 185, 84);
}

#img {
    height: 70px;
    padding-right: 40px;
}

.footer-links-content-social {
    display: flex;
    width: 180px;
    height: 100px;
}

.footer-links-content-social a {
    padding-right: 15px;
}

.footer-links-content-social img {
    height: 30px;
    background-color: white;
    border-radius: 30px;
    border: 10px solid #222326;
    transition: background 300ms;
}

.footer-links-content-social img:hover {
    background-color: rgba(29, 185, 84);
}

.footer-sponsors {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-sponsors img {
    padding: 30px 30px;
    height: 60px;
    width: 130px;
}

.dark-mode .white-bg {
    background-color: black;
    color: #8c8c8c;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

.dark-mode .white-bg a {
    color: #004d00;
}

.dark-mode img {
    opacity: 0.5;
}

.dark-mode .banner-menu a {
    color: #8c8c8c;
}

.dark-mode .gradient p,
.dark-mode .gradient h1,
.dark-mode #opcje p,
.dark-mode .footer a {
    color: #8c8c8c;
}

.dark-mode #cookies {
    background-color: black;
    color: #8c8c8c;
    border-top: 1px solid #8c8c8c;
}

.dark-mode .gradient-content-text button {
    background-color: #004d00;
    color: #8c8c8c;
    border-color: #004d00;
}

.dark-mode .gradient {
    background: linear-gradient(#330066, #000000 70%);
}

.dark-mode label:after {
    background-color: #8c8c8c;
}

.dark-mode .scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.datetime {
    color: #8c8c8c;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.dark-mode #cookies-content button {
    background-color: #404040;
    color: black;
}

#cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #404040;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    height: 80px;
    letter-spacing: 0.5px;
    opacity: 0.95;
    line-height: 80px;
}

#cookies-content {
    display: flex;
    justify-content: center;
}

#cookies-content p {
    width: 75%;
}

#cookies-content button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 150px;
    font-weight: 700;
}

.hidden {
    display: none;
}

#language {
    position: absolute;
    top: 5px;
    right: 35px;
    display: flex;
    color: white;
    font-weight: 300;
}

.pl {
    text-decoration: underline;
}

.en {
    text-decoration: underline;
}

#language p:first-child {
    border-right: 2px solid #8c8c8c;
    padding-right: 10px;
    cursor: pointer;
}

#language p:nth-child(2) {
    padding-left: 10px;
    cursor: pointer;
}

.zwierzeta-header {
    height: 400px;
    width: 100%;
    background: linear-gradient(#bf80ff, #1a0033 70%);
}


.zwierzeta-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.zwierzeta-gallery img {
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 50px;
    display: block;
    float: left;
    box-shadow: 5px 5px 30px -5px #000;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.img-bg {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 50px 0 0 50px;
    z-index: 1;
}

.img-bg-content {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 1px;
    flex-direction: column;
    padding-top: 100px;
}

#img-bg-content-imie {
    padding-bottom: 20px;
    font-weight: 700;
}
